<ion-view view-title="Chat">
   <ion-content ng-class="{expanded:isExpanded}" >
   <div  ng-repeat="message in messages" class="item card-item self">
       <div class="card stable-bg ink ink-dark">
           <div class="item item-avatar item-text-wrap">
               <img class="avatar" src="{{message.image}}"></img>
               <p ng-bind-html="message.text"></p>
               <div class="card-footer text-right">
                   <div class="pull-left">
                       <i class="icon balanced ion-clock"></i> {{message.time}}
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div ng-show="typing" class="item card-item self">
       <div class="card stable-bg ink ink-dark" style="background-color:#EEEEEE;">
           <div class="item item-avatar item-text-wrap">
               <img class="avatar" src="../www/img/icon.png"></img>
               <div> Typing.....<img class="" style="box-shadow:none;" src="../www/img/typing.gif" height=50 width=50></img> </div>
           </div>
       </div>
   </div>
   </ion-content>
   <button ng-show="data.message" ng-click="sendMessage()" id="fab-profile" class="button button-fab button-fab-bottom-right button-balanced pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
   <i class="icon ion-android-send"></i>
   </button>	
   <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
      <input id="message_input" class="message_input" type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
   </ion-footer-bar>
</ion-view>
