<ion-view view-title="Chat">
   <ion-content ng-class="{expanded:isExpanded}" >
      <div class="list half">
           <div  class="card card-gallery item item-text-wrap">
               <div class="ink dark-bg">
                   <h2>Emoticons</h2><img class="avatar left" src="img/sansa.jpg"></img><br>
                   <p><h2><div ng-bind-html="text | emoticons:{linkTarget:'_blank'}"></div></h2></p>
                   <h2>
                   		<progress id="progressbar" max="100" value="{{ progValHappy }}"> </progress>
    			   		<div id="progressbarlabel" ng-bind-html="':smile:'+' '+progValHappy+' %' | emoticons:{linkTarget:'_blank'}"> </div>
    			   </h2>
    			    <h2>
	    			   <progress id="progressbar" max="100" value="{{ progValSad }}"> </progress>
	    			   <div id="progressbarlabel" ng-bind-html="':disappointed:'+' '+progValSad+' %' | emoticons:{linkTarget:'_blank'}"> </div>
    			   </h2>
    			   <h2>
                   		<progress id="progressbar" max="100" value="{{ progValAngry }}"> </progress>
                   		<div id="progressbarlabel" ng-bind-html="':rage:'+' '+progValAngry+' %' | emoticons:{linkTarget:'_blank'}"> </div>
    			   </h2>
               </div>
              
           </div>
           <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
               <div class="ink dark-bg">
                   <p><h2>Cognitive Agent</h2></p>
                   <img class="avatar left" src="img/icon.png"></img>
               </div>
           </div>
       </div>
       <div class="list half"> 
	      <div  class="card card-gallery item item-text-wrap" ng-class="{lefttop: message.userId=='54321' , btmright:message.userId=='12345' }">
		      <div ng-repeat="message in messages" class="talk-bubble tri-right " ng-class="{lefttop: message.userId=='54321' , btmright:message.userId=='12345' }">
		         <div class="talktext item item-avatar item-text-wrap">
		            <div><img class="avatar " ng-class="{left: message.userId=='54321' , right:message.userId=='12345' }"  src="{{message.image}}"></img></div><br>
		            <div ng-bind-html="message.text"></div>
		            <div class="pull-left ">
		               <i class="icon balanced ion-clock"></i> {{message.time}}
		            </div>
		         </div>
		      </div>
		      <div ng-show="typing" class="talk-bubble tri-right lefttop">
		         <div class="talktext">
		            <img class="avatar left" src="img/icon.png"></img>
		            <div> Typing..... </div>
		         </div>
		      </div>
		  </div>
      </div>
   </ion-content>
   <button  event-focus="click" event-focus-id="message_input" ng-click="sendMessage()" id="fab-profile" class="button button-fab button-fab-bottom-right button-balanced pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
   		<i class="icon ion-android-send"></i>
   </button>	
   <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
      <input id="message_input" focus-on-change="message"  class="message_input" type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
   </ion-footer-bar>
</ion-view>
