<ion-view view-title="Chat">
   <ion-content ng-class="{expanded:isExpanded}" >
      <div ng-repeat="message in messages" class="talk-bubble tri-right " ng-class="{lefttop: message.userId=='54321' , btmright:message.userId=='12345' }">
         <div class="talktext">
            <img class="avatar " ng-class="{left: message.userId=='54321' , right:message.userId=='12345' }"  src="{{message.image}}"></img>
            <p ng-bind-html="message.text"></p>
            <div class="pull-left ">
               <i class="icon balanced ion-clock"></i> {{message.time}}
            </div>
         </div>
      </div>
      <div ng-show="typing" class="talk-bubble tri-right lefttop">
         <div class="talktext">
            <img class="avatar left" src="../www/img/icon.png"></img>
            <div> Typing..... </div>
         </div>
      </div>
   </ion-content>
   <button ng-show="data.message" ng-click="sendMessage()" id="fab-profile" class="button button-fab button-fab-bottom-right button-balanced pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
   <i class="icon ion-android-send"></i>
   </button>	
   <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
      <input id="message_input" class="message_input" type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
   </ion-footer-bar>
</ion-view>
