.header .col {
    background-color: lightgrey;
}
.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}
.col:last-child {
    border-right: solid 1px grey;
}
.row:last-child .col {
    border-bottom: solid 1px grey;
}
/* General
==================================*/

h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}
/* Utilities
==================================*/

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}
p {
    color: #555;
    margin: 0 0 25px;
}
.scroll {
    height: 100%;
}
/* Menu
==================================*/

.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}
.menu-open .bar.bar-header.expanded {
    background-color: #222;
}
.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}
.menu .avatar {
    height: 88px;
    width: 88px;
}
.menu.menu-left * {
    font-weight: bold;
}
.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.menu-open .ion-navicon:before {
    content: "\f2ca";
}
/* Login
==================================*/

.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}
.social-login {
    position: fixed;
    bottom: 0;
}
.message_input {
    height: 55px !important;
}
.talk-bubble {
    margin: 10px 20px;
    display: inline-block;
    position: relative;
    height: auto;
    width: 90%;
    border-radius: 10px;
}
.tri-right.lefttop {
    background-color: lightgreen;
}
.tri-right.btmright {
    background-color: lightblue;
}
.tri-right.lefttop:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: -12px;
    bottom: auto;
    border: 12px solid;
    border-color: transparent transparent lightgreen lightgreen;
}
.tri-right.btmright:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    bottom: -12px;
    border: 12px solid;
    border-color: lightblue lightblue transparent transparent;
}
.talktext {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}
.talktext p {
    /* remove webkit p margins */
    
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.left {
    float: left;
    position: inherit;
    margin: 5px;
}
.right {
    float: right;
    position: inherit;
    margin: 5px;
}